.navbar {
  background-color: transparent !important;
}
.pre-banner{
	margin-top: 50px;
	margin-bottom: 20px;
}
.pre-banner h1{
	font-size: 30px;
	color: #2ca2f3;
	font-weight: bold;
}
.pre-banner p{
	width: 50%;
	margin: 0 auto;
	color: #929292;
	font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-family: "georgia";
    letter-spacing: 1.5;
}
.banner{
	width: 100%;
	height: inherit;
	background-image: url("./images/Asset-2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}

.banner img{
	margin-top: 30px; 
	margin-bottom: 40px; 
	width: 70% !important;
	height: auto;
	text-align: center;
	position: relative;	
}

.section-one{
	margin: 50px 20px;
}
.p1 h1 {
	width: 70%;
	color: #2ca2f3;
	font-size: 30px;
}
.p1 p{
	margin-top: 20px;
	font-family: georgia;
	width: 90%;
	line-height: 25px;
}

.p2 a{
	font-weight: bold;
	color: #2ca2f3 !important;
}

.section-one a:hover{
	cursor: pointer;
	text-decoration: none;
}

.sectioon-two{
	width: 100%;
	height: auto;
	background-color: #fcfcfc;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}
.sec-two{
	text-align: left !important;
	padding: 50px 30px;
	
}
.textAlignment {
	/* display: flex; */
	justify-content: center;
}
.sectioon-two p{
	margin-top: 20px;
	font-family: georgia;
	width: 90%;
	line-height: 25px;
	/* font-size: 14px; */
}
.sectioon-two h1{
	font-family: "ITCAvantGardeGothicLTBold";
	color: #2ca2f3;
	font-size: 30px;
}	
.sectioon-two h3{
	font-family: "texgyreadventor-regular";
	color: #2ca2f3;	
	font-size: 20px;
	font-weight: normal;
	margin-top: 10px;
}
.sectioon-two img{
	width: 70%;
	height: auto;
	/*padding: 20px;
	/*text-align: center;*/
	/*position: relative;	*/
	/*top: 60px;*/
}

.section-three{
	margin: 50px 20px; 
	padding-top: 90px;
}
.section-three p{
	margin-top: 20px;
	font-family: georgia;
	font-size: 14px;
}

.section-three h1{
	font-family: "ITCAvantGardeGothicLTBold";
	color: #2ca2f3;
	font-size: 30px;
	top: 30px;
}	
.section-three img{
	width: 80%;
	height: auto;
	padding: 20px;
	text-align: center;
	position: relative;	
	top: -35px;
}

.section-four{
	margin-top: 70px;
	margin-bottom: 70px;
}

service-one{
	top: 50px;
}
#left{
	margin-top: 100px;
}
.service-one p,.section-two p, .section-three p, .section-four p, .section-five p{
	margin-top: 20px;
	font-family: georgia;
	font-size: 14px;

}
.service-one img,.section-two img, .section-three img, .section-four img, .section-five img{
	width: 70%;
	height: auto;
	margin-left: 30px;
}
.service-one h3{
	font-family: "ITCAvantGardeGothicLTBold";
	color: #2ca2f3;	
}

.service-one,.section-two, .section-three , .section-four, .section-five {
	margin-left: 10px;
	margin-right: 10px;
	text-align:center;
	margin: auto; 
	margin-top: 50px;
}
.service-one,.section-two, .section-three , .section-four, .section-five h3{
	font-family: "ITCAvantGardeGothicLTBold";
	color: #2ca2f3;	
	/*font-size: 20px;*/
	font-weight: normal;
}
	
h3{
	font-family: "texgyreadventor-regular";
	color: #2ca2f3;	
	font-size: 20px;
	font-weight: normal;
}



h1{
	font-family: "ITCAvantGardeGothicLTBold";
	color: #2ca2f3;
}
p{
	color: #929292;
}


.wrapper{
	padding: 0;
}



.main-content p{
	margin-top: 20px;
}

video{
	width: 100%;
	height: inherit;
	margin-top: 10px;
	margin-bottom: 10px;
}

.picture{
	margin-bottom: 100px;
	padding-bottom: 100px;
}
.picture p{
	font-family: "texgyreadventor-regular";
	color: #000;	
	font-size: 12px;
	font-weight: normal;
}
figcaption{
	font-family: "texgyreadventor-regular";
	color: #000;	
	font-size: 16px;
	font-weight: bold;
}
.picture img{
	width: 90%;
	height: auto;
	text-align: center;
	margin: auto;
}

.footer{
	width: 100%;
	height: inherit;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer h1{
	font-size: 60px;
	color: #000;
}
#footer-h1, #footer-p{
	position: relative;
	top: -60px;
	color: #000;
	margin-bottom: 20px;
}
.footer a{
	position: relative;
	top: -30px;
	text-decoration: none;
	background-color: #da1c5c;
	color: #fff;
	padding: 10px;
	border-radius: 20px;
}

@media (max-width: 500px) {
	.section-one{
		padding: 25px 20px;
	}
	.p1 h1 {
		width: 100%;
		color: #2ca2f3;
		font-size: 30px;
		text-align: center;
	}
	.p1 p{
		margin-top: 20px;
		font-family: georgia;
		/* font-size: 14px; */
		width: 100%;
		line-height: 25px;
	}
	.p2 p {
		margin-top: 0;
	}
	.p2 a{
		font-weight: bold;
		color: #2ca2f3 !important;
		margin: 0 auto;
	}
}